body{
    background-color: #000000;
}

#canvas{
    padding: 0;
    margin: auto;
    display: block;
}

#help, #score, #fps, #hiscore{
    padding: 0;
    margin: auto;
    display: block;

    font-family: Helvetica, Arial, sans-serif;
    color: #FFF;
    display: inline;
    background-color: #333;
}
